<div class="container py-3">

    <h1 class="mb-4">Custom Observable</h1>

    <div class="row">

        <!-- Ex - 01 -->
        <div class="col-md-6" id="el1">

            <h6 class="fw-bold">Ex - 01 (Manual)</h6>

            <hr>

            <!-- <div class="border border-danger rounded p-2 mb-2 text-danger bg-danger-subtle">
                Angular
            </div>

            <div class="border border-danger rounded p-2 mb-2 text-danger bg-danger-subtle">
                Typescript
            </div>

            <div class="border border-danger rounded p-2 mb-2 text-danger bg-danger-subtle">
                Html and Css
            </div> -->

        </div>


        <!-- Ex - 02 -->
        <div class="col-md-6">

            <h6 class="fw-bold">Ex - 02 (Custom Interval Observable)</h6>

            <hr>

            <div class="border border-success rounded p-2 mb-2 text-success bg-success-subtle">
                Angular
            </div>

            <div class="border border-success rounded p-2 mb-2 text-success bg-success-subtle">
                Typescript
            </div>

            <div class="border border-success rounded p-2 mb-2 text-success bg-success-subtle">
                Html and Css
            </div>

        </div>

    </div>


    <!-- Ex - 03 -->
    <div class="mt-5">

        <h6 class="fw-bold">Ex - 03 (Random Names)</h6>

        <hr>

        <div class="border rounded p-2 bg-light">
            <strong>Random Names:</strong>
            'Anup', 'Shekhar', 'Sharma', 'Uxtrendz', 'John', 'Alex', 'Robert'
        </div>

        <hr>

        <p>
            Current Name :
            <span class="text-success" id="name">{{randomName}}</span>
        </p>

        <span class="badge bg-success">Success</span>
        <table>
            <tr>
                <th>Name</th>
            </tr>
            <tr *ngFor="let item of NameVal">
                <td>{{item}}</td>
            </tr>
        </table>

    </div>

</div>