<div class="container-fluid p-3">

    <h1 class="mb-4">Of and From</h1>

    <h6 class="fw-bold">Ex - 01 (OF)</h6>

    <hr>

    <div class="row">

        <div class="col-md-6">

            <div class="border rounded p-3 bg-light">
                <strong>Data:</strong>
                of('Anup', 'Shekhar', 'Sharma')
            </div>

            <hr>

            <ul id="elContainer3">
            </ul>

        </div>

        <div class="col-md-6">

            <div class="border rounded p-3 bg-light">
                <strong>Data:</strong>
                of(a: 'Anup', b: 'Shekhar', c: 'Sharma')
            </div>

            <hr>

            <ul id="elContainer4">
            </ul>

        </div>

    </div>


    <h6 class="fw-bold mt-3">Ex - 02 (From)</h6>

    <hr>

    <div class="row">

        <div class="col-md-4">

            <h6 class="fw-bold">Array</h6>

            <hr>

            <div class="border rounded p-3 bg-light">
                <strong>Data:</strong>
                from(['Uxtrendz', 'John', 'Alex'])
            </div>

            <hr>

            <ul id="elContainer5">

            </ul>

        </div>


        <div class="col-md-4">

            <h6 class="fw-bold">Promise</h6>

            <hr>

            <div class="border rounded p-3 bg-light">
                <strong>Data:</strong>
                Promise to Observable
            </div>

            <hr>

            <ul id="elContainer6">
            </ul>

        </div>


        <div class="col-md-4">

            <h6 class="fw-bold">String</h6>

            <hr>

            <div class="border rounded p-3 bg-light">
                <strong>Data:</strong>
                String to Observable
            </div>

            <hr>

            <ul id="elContainer7">
            </ul>

        </div>

    </div>

</div>

<h6 class="fw-bold mt-3">Ex - 03 (toArray)</h6>

<hr>

<div class="row">

    <div class="col-md-6">

        <div class="border rounded p-3 bg-light">
            <strong>Data:</strong>
            of('Anuj', 'Kapil', 'Rahul')
        </div>

        <hr>

        <ul id="toArrayContainer">
        </ul>

    </div>

    <div class="col-md-6">

        <div class="border rounded p-3 bg-light">
            <strong>Output:</strong>
            Array of emitted values
        </div>

        <hr>

        <ul id="toArrayResult">
        </ul>

    </div>

</div>