<div class="container-fluid p-2">

    <h1 class="mb-5">Merge</h1>

    <div class="row">

        <!-- Tech Channel -->
        <div class="col-md-4">

            <h6 class="fw-bold">
                Source - 01 | Tech Channel(5)
            </h6>

            <hr>

            <div class="border rounded p-2 bg-light">
                <strong>Tech Videos List :</strong>
                1,2,3,4,5
            </div>

        </div>


        <!-- Comedy Channel -->
        <div class="col-md-4">

            <h6 class="fw-bold">
                Source - 02 | Comedy Channel(3)
            </h6>

            <hr>

            <div class="border rounded p-2 bg-light">
                <strong>Comedy Videos List :</strong>
                1,2,3
            </div>

        </div>


        <!-- News Channel -->
        <div class="col-md-4">

            <h6 class="fw-bold">
                Source - 02 | News Channel(4)
            </h6>

            <hr>

            <div class="border rounded p-2 bg-light">
                <strong>News Videos List :</strong>
                1,2,3,4
            </div>

        </div>

    </div>

    <hr class="mt-4">


    <!-- Subscriber -->
    <div class="row justify-content-center mt-3">

        <div class="col-md-6">

            <div class="card">

                <div class="card-header">
                    Your Channel (Subscriber)
                </div>

                <div class="card-body">

                    <ul class="mb-0" id="concatMerge">

                        

                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>