
    <div class="container mt-2">

        <!-- Heading -->
        <h1 class="mb-4">From Event</h1>

        <div class="row g-4">

            <!-- Add Video -->
            <div class="col-md-6">
                <div class="card">

                    <div class="card-header">
                        Add Video
                    </div>

                    <div class="card-body">
                        <button type="button" class="btn btn-primary" #addBtn>
                            Add
                        </button>
                    </div>

                    <div class="card-body">
                        <button type="button" class="btn btn-primary" (click)="navToCustom()">
                            Add
                        </button>
                    </div>

                </div>
            </div>

            <!-- List -->
            <div class="col-md-6">
                <div class="card">

                    <div class="card-header">
                        List
                    </div>

                    <div class="card-body">
                        <ul class="mb-0" id="elContainer1">
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>



    <div class="container-fluid mt-2">

        <!-- Heading -->
        <h1 class="mb-4">Interval</h1>

        <!-- Video -->
        <p class="mb-4">Video 5</p>

        <!-- User Card -->
        <div class="card">

            <!-- Card Header -->
            <div class="card-header">
                User1
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <ul class="mb-0" id="elContainer2">

                </ul>
            </div>

        </div>

    </div>